@font-face {
  font-family: 'Raleway-Thin';
  src: url(../fonts/Raleway-Thin.woff2) format('woff2'),
       url(../fonts/Raleway-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Raleway-Black';
  src: url(../fonts/Raleway-Black.woff2) format('woff2'),
       url(../fonts/Raleway-Black.woff) format('woff');
}
body{
  background: $main-color;
}
ul{
  margin: 0;
  padding: 0;
}
.container{
  margin: auto;
  width: 1170px;
}
.center{
  text-align: center;
}